SELECT
  project.id AS id,
  project.name AS name,
  project.description AS description,
  project.visibility_level AS visibility_level,
  if(isNotNull(route.source_id), route.path, project.path) AS full_path,
  project.namespace_id AS namespace_id,
  project.creator_id AS creator_id,
  project.created_at AS created_at,
  project.updated_at AS updated_at,
  project.archived AS archived,
  project.star_count AS star_count,
  project.last_activity_at AS last_activity_at,
  traversal_paths.current_path AS traversal_path,
  project.{{version_column}} AS _version,
  project.{{deleted_column}} AS _deleted
FROM siphon_projects project
INNER JOIN (
  SELECT
    id,
    argMax(traversal_path, version) AS current_path
  FROM project_namespace_traversal_paths
  WHERE startsWith(traversal_path, {traversal_path:String})
  GROUP BY id ) traversal_paths ON project.id = traversal_paths.id
LEFT JOIN (
  SELECT
    toNullable(source_id) AS source_id,
    argMax(path, {{version_column}}) AS path
  FROM siphon_routes
  WHERE startsWith(traversal_path, {traversal_path:String})
    AND source_type = 'Project'
  GROUP BY source_id
  HAVING argMax({{deleted_column}}, {{version_column}}) = false ) route ON project.id = route.source_id
WHERE startsWith(traversal_paths.current_path, {traversal_path:String})
  AND (project.id IN (SELECT
      id
    FROM project_namespace_traversal_paths
    WHERE startsWith(traversal_path, {traversal_path:String}))) {{filters}}
ORDER BY traversal_path, id
LIMIT {{batch_size}}
