target
.DS_Store
report.xml
public
node_modules
bindings/go/.idea/
.idea/
profile.json.gz
output/
*.cdx.xml
*.cdx.json

# auto-summarization files
git_diff_full.txt

# synthetic data
gl_synthetic_data/
gkg_simulator_manifest.json